## Step1

In [1]:
import pandas as pd

In [5]:
hawaii_measurements=pd.read_csv('hawaii_measurements.csv')
hawaii_stations=pd.read_csv('hawaii_stations.csv')

In [9]:
hawaii_measurements=hawaii_measurements.dropna(axis=0, how='any')

In [11]:
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [15]:
hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [14]:
hawaii_measurements.to_csv('clean_hawaii_measuremnts.csv',sep=',')

## Step 2

In [63]:
from sqlalchemy import create_engine

# Import PyMySQL (Not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

# Create Surfer and Board classes
# ----------------------------------
# class measurement(Base):
#     __tablename__ = 'hawaii_measurements'
#     station = Column(String(255), primary_key=True)
#     date = Column(String(255))
#     pcp = Column(Float)
#     tobs = Column(Integer)
    
  
class station(Base):
    __tablename__ = 'hawaii_stations'
    station = Column(String(255), primary_key=True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    def __init__ (self,station=None,name=None,latitude=None,longitude=None,elevation=None):
        self.name=name
        self.latitude=latitude
        self.longitude=longitude
        self.elevation=elevation

# Create specific instances of the Surfer and Board classes
# ----------------------------------
# Create a new surfer named "Bruno"
station = station(station=hawaii_stations.iloc[0,0]
                  ,name=hawaii_stations.iloc[0,1]
                 ,latitude=hawaii_stations.iloc[0,2]
                  ,longitude=hawaii_stations.iloc[0,3]
                 ,elevation=hawaii_stations.iloc[0,4])
# Create a new board and associate it with a surfer's ID
#measurement = measurement(hawaii_measurements)

# Create Database Connection
# ----------------------------------
# Establish Connection to MySQL
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
conn = engine.connect()


Base.metadata.create_all(conn)

# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

session.add(station)

#session.add(measuremt)

session.commit()

station_list = session.query(station)

C:\Users\lindsay.yan\AppData\Local\Continuum\Anaconda3\lib\site-packages\sqlalchemy\sql\crud.py:692: SAWarning: Column 'hawaii_stations.station' is marked as a member of the primary key for table 'hawaii_stations', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL.
  util.warn(msg)

IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: hawaii_stations.station [SQL: 'INSERT INTO hawaii_stations (name, latitude, longitude, elevation) VALUES (?, ?, ?, ?)'] [parameters: ('WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)]

In [64]:
hawaii_stations
#station=hawaii_stations.iloc[0,0]

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

'USC00519397'

In [23]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [24]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
conn = engine.connect()

In [25]:
inspector = inspect(engine)
inspector.get_table_names()

[]

In [30]:
hawaii_measurements.iloc[0,:]

station    USC00519397
date        2010-01-01
prcp              0.08
tobs                65
Name: 0, dtype: object

In [32]:
measurement(hawaii_measurements.iloc[0,:])

TypeError: __init__() takes 1 positional argument but 2 were given