## Step 2 Database Engineering

In [27]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String,Text,ForeignKey,Date,Float
import os

In [28]:
hawaii_stations = pd.read_csv('clean_hawaii_stations.csv')
hawaii_measurements = pd.read_csv('clean_hawaii_measurements.csv')

In [29]:
hawaii_stations.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [30]:
hawaii_measurements.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-07  0.06    70

In [31]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [72]:

Base = declarative_base()


class measurement(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer,primary_key=True)
    station=Column(String(200),ForeignKey('stations.station'))
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    


class station(Base):
    __tablename__ = 'stations'
    
    station = Column(String(200), primary_key=True)
    name = Column(String(200))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [73]:
Base.metadata.create_all(engine)

In [74]:
Measurement=hawaii_measurements.to_dict(orient='records')
station=hawaii_stations.to_dict(orient='records')

In [75]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [76]:
Measurement_table = sqlalchemy.Table('measurements', metadata, autoload=True)
Station_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [77]:
conn.execute(Measurement_table.delete())
conn.execute(Station_table.delete())

In [78]:
conn.execute(Measurement_table.insert(),Measurement)
conn.execute(Station_table.insert(),Station)

In [79]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [80]:
from sqlalchemy import create_engine, inspect, func
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [83]:
conn.execute("select * from stations limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]